
  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Reset</title>
       <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	 font-family: 'Poppins',sans-serif;
	
	 margin: 10px;
	 
}



</style>
  </head>
  <body>
      <div id="content">
        <div class="card text-center">
        
        <div class="card-body">
          <h5 class="card-title">Last four digit of mobile number does not matches !!</h5>
          <p class="card-text">Enter correct number</p>
          <a th:href="@{/userlogin}"  class="btn btn-primary">User Login</a>
          <a th:href="@{/}"  class="btn btn-success">Home Page</a>
        </div>
        
      </div>
    </div>
    
  </body>
  </html>