<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Users List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	 font-family: 'Poppins',sans-serif;
/* 	 background-color:#FFE4C4; */
	 margin: 10px;	 
}
</style>
</head>
<body>

<div class="container-fluid ">
<h1 style="text-align: center;"><b>USERS LIST</b></h1>
<h1 style="text-align: right;"><a class="btn btn-primary" th:href="@{/}">Home</a></h1>
          <table id="users" border="5" class="table table-stripped table-responsive-md">
                 <thead>
                     <tr>
                         <th>USERNAME</th>
                         <th>AGE</th>
                         <th>BLOOD_GROUP</th>
                         <th>EMAIL</th>     
                          <th>LOCATION</th>
                           <th>GENDER</th>
                           <th>STATUS</th>
                          <th>UPDATE ACTION</th>
                     </tr>
                 </thead>
                 <tbody>
                      <tr th:each="user : ${users}">
                          <td th:text="${user.username}"></td>
                          <td th:text="${user.age}"></td>
                          <td th:text="${user.blood_group}"></td>
                          <td th:text="${user.email}"></td>
                          <td th:text="${user.location}"></td>
                          <td th:text="${user.gender}"></td>
                          <td th:text="${user.available}"></td>
                          
                          
                           <td>
                           <a th:href="@{/updateuser/{email}(email=${user.email})}" class="button2">Update</a>
                          </td>
                          

                      </tr>
                 </tbody>
           
           </table>
           
    </body>
  </html>
